.knob {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 2px solid #6E6E6E;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transform: rotate(-150deg);
  backface-visibility: hidden;
  transition: background-color 0.1s linear;

  &__value {
    background-color: #5C6657;
    box-shadow: inset 0 0 1px #000000;
    display: inline-block;
    margin-top: 10px;
    min-width: 65px;
    padding: 3px 5px;
    text-align: right;
  }

  &__label {
    display: inline-block;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 4px;
    background-color: #111;
  }

  &__container {
    color: #e1e1e1;
    display: inline-block;
    text-align: center;
    padding: 0 18px 18px;
  }

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    background-color: #6E6E6E;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
  }

  &:hover {
    background-color: #2f2f2f;
    border-color: #7A7A7A;

    &::before {
      background-color: #7A7A7A;
    }
  }
}
