body {
  font-family: monospace;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

html {
  display: flex;
  height: 100%;
}

body {
  align-items: center;
  background-color: #111;
  color: #e1e1e1;
  display: flex;
  font-family: monospace;
  justify-content: center;
  margin: auto;
}

.synth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synth__controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

.section {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px 0px;
  margin: 10px;
}

.section__label {
  display: table;
  position: relative;
  top: -15px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 2px 5px;
  background-color: #111;
}
